<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>403 - layui快速开发插件</title>
    <meta name="keywords" content="fsLayuiPlugin,layui,layuiPlugin,layui插件,layui快速开发插件" />
    <meta name="description" content="fsLayuiPlugin,layui,layuiPlugin,layui插件,layui快速开发插件" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv ="Pragma" content = "no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <script src="${ctxPath!}/plugins/pace/pace.min.js"></script>
    <link href="${ctxPath!}/plugins/pace/themes/pink/pace-theme-flash.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="${ctxPath!}/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="${ctxPath!}/css/fs.css" media="all"/>
</head>
<body>
<div style="text-align: center;">
    <h2><i class="layui-icon" style="line-height: 300px; font-size: 300px; color: #393D49;">&#xe664;</i></h2>
    <p style="margin-top: 50px; padding: 0 15px; font-size: 20px; color: #999; font-weight: 300;">该用户没有权限访问该页面…</p>
</div>
</body>
</html>
