<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>${video.title!}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" type="text/css" href="${ctxPath!}/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="${ctxPath!}/css/front/global.css">
</head>
<body>

<!--头部导航栏，有登录注册功能-->
<%include("/modules/videowebfront/common/header.html"){}%>

<div class="layui-container" style="margin-top: 15px">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="fly-panel ">
                <div id="userActive" style="width: 100%;height:400px;"></div>
            </div>
        </div>
        <div class="layui-col-md7 layui-col-space5">
            <div class="fly-panel ">
                <div id="videoTag" style="width: 100%;height:400px;"></div>
            </div>
        </div>
        <div class="layui-col-md5 layui-col-space5">
            <div class="fly-panel ">
                <div id="videoPlayCount" style="width: 100%;height:400px;"></div>
            </div>
        </div>

    </div>
</div>
<%include("/modules/videowebfront/common/footer.html"){}%>
<script type="text/javascript" src="${ctxPath!}/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${ctxPath!}/plugins/layui/layui.all.js"></script>
<script type="text/javascript" src="${ctxPath!}/scripts/front/header.js"></script>
<script type="text/javascript" src="${ctxPath!}/plugins/echarts/echarts.js"></script>
<script type="text/javascript" src="${ctxPath!}/scripts/front/graph.js"></script>
</body>
</html>