<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>${video.title!}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" type="text/css" href="${ctxPath!}/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="${ctxPath!}/css/front/global.css">
    <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.1/skins/default/aliplayer-min.css"/>
    <link rel="stylesheet" href="${ctxPath!}/css/front/note.css">
</head>
<body>

<!--头部导航栏，有登录注册功能-->
<%include("/modules/videowebfront/common/header.html"){}%>

<div class="layui-container" style="margin-top: 15px">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="fly-panel video-block">
                <h2>${video.title!}</h2>
                <p>${video.createTime!}</p>
                <p>播放量：${video.playCount!}</p>
                <input type="hidden" id="videoUrl" value="${video.url!}"/>
                <input type="hidden" id="videoId" value="${video.id!}"/>
                <div class="prism-player" id="player-con"></div>
                <a id="likeVideo" href="javascript:;"><i class="layui-icon layui-icon-praise" style="font-size: 30px; color: #666;"></i></a>
                <a id="collectVideo" style="margin-left: 50px;" href="javascript:;"><i class="layui-icon layui-icon-star" style="font-size: 30px; color: #666;"></i></a>
                <a id="downloadVideo" href="javascript:;" style="margin-left: 50px;">
                    <i class="layui-icon layui-icon-download-circle" style="font-size: 30px; color: #666;"></i>
                </a>
                <blockquote class="layui-elem-quote ">
                    <p>${video.desc!}</p>
                    <p>${video.remark!}</p>
                </blockquote>
            </div>

            <div class="fly-panel">
                <!-- 评论数据-->
                <div id="commentsView">

                </div>
                <!--分页-->
                <div style="text-align: center;clear: both;" class="customBootstrap">
                    <ul class="pagination" id="pagination1"></ul>
                </div>
            </div>
            <!--回复-->
            <div class="replay_com_box" id="replay_com_box">
                <div class="replay_com_tx">
                    回复: <span>123</span>:
                </div>
                <textarea name="" id="" cols="30" rows="10" maxlength="800"></textarea>
                <div class="addComBtns">
                    <div class="addComBtnsR">
                        <span class="span1" onclick="_cancelReplay()">取消</span>
                        <span class="span2" onclick="_replayComment(this)">确认</span>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
            <!--提交评论-->
            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>评论</legend>
                </fieldset>
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item layui-form-text">
                        <div class="layui-input-block">
                                <textarea id="c_content" name="content" required
                                          placeholder="请输入内容" class="layui-textarea fly-editor"
                                          style="height: 150px;"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button id="addComm" class="layui-btn" lay-filter="addComm" lay-submit>提交回复</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="fly-panel my-fly-list-recommend">
                <h3 class="fly-panel-title">相似视频</h3>
                <div id="similarVideo">
                    <!--这是放数据，js控制-->
                </div>
            </div>
            <div class="fly-panel my-fly-list-recommend">
                <h3 class="fly-panel-title">本周最热</h3>
                <div id="weekHot">
                    <!--这是放数据，js控制-->
                </div>
            </div>
        </div>
    </div>
</div>
<script id="commentsArea" type="text/html">
    {{# if(d.comments && d.comments.list &&  d.comments.list.length>0 ){ }}
    {{# layui.each(d.comments.list,function(index,item){  }}
    <div class="note_comment">
        <div class="note_comment_icon">
            <img src="${ctxPath!}/images/user/touxian1.jpg" alt="">
        </div>
        <div class="note_comment_com">
            <div class='yi_comment_box'>
                <div class="note_comm_author">{{= item.commentName }}
                    <span>{{#var cDate = layui.util.timeAgo(new Date(item.commentTime||""), true); }}{{cDate}}</span>
                </div>
                <div class="note_comm_content">
                    <div class="p1">{{= item.content }}</div>
                </div>
                <div class="note_comm_state">
                    <div class="box1 {{= item.liked?'act':'' }}" onclick="_likeNote(this,'{{=item.id }}' )"
                         likeCount='{{= item.likeCount?item.likeCount:0 }}' liked='{{= item.liked }}'>
                        <div class="icon_zan"></div>
                        <span>{{# if(item.likeCount){ }}
                                {{= item.likeCount?item.likeCount:0 }}人赞
                            {{# } }}
                        </span>
                    </div>
                    <div class="box2"
                         onclick="_addReplayBox(this,'{{= item.id }}','{{= item.commentName }}','{{= item.commentId }}')">
                        <img src="https://neets.cc/assets/imgTopics/icon_comment.png" alt="">回复
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>

            {{# if(item.subComments && item.subComments.length>0){ }}
            <div class="replyAreaMain">
                <div class="replyAreaMain_1">
                    <div class='replyAreas'>
                        {{# layui.each(item.subComments,function(index,itemSub){ }}
                        <div class="replyArea">
                            <div>
                                <span class="p1">{{= itemSub.replyName }}</span>
                                <span class="p2">回复</span>
                                <span class="p1">{{= itemSub.repliedName }}</span>
                                :
                                <span class="p3">{{= itemSub.content }}</span>
                            </div>
                            <div class="note_comm_state">
                                <div class="box6">{{#var rDate = layui.util.timeAgo(new Date(itemSub.commentTime||""), true); }}{{rDate}}</div>
                                <div style="margin-left:30px" class="box1 {{= itemSub.liked?'act':'' }}"
                                     onclick="_likeNote(this,'{{= item.id }}' )"
                                     likeCount='{{= itemSub.likeCount?itemSub.likeCount:0 }}'
                                     liked='{{= itemSub.liked }}'>
                                    <div class="icon_zan"></div>
                                    <span>{{# if(itemSub.likeCount){ }}
                                            {{= itemSub.likeCount?itemSub.likeCount:0 }}人赞
                                        {{# } }}
                                    </span>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                        {{# }) }}
                    </div>
                </div>
            </div>
            {{# } }}
        </div>
        <div style="clear:both"></div>
    </div>
    {{# }) }}
    {{# } }}
</script>
<%include("/modules/videowebfront/common/footer.html"){}%>
<script type="text/javascript" src="${ctxPath!}/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${ctxPath!}/plugins/jquery/jq-paginator.js"></script>
<script type="text/javascript" src="${ctxPath!}/plugins/layui/layui.all.js"></script>
<script type="text/javascript" charset="utf-8"
        src="https://g.alicdn.com/de/prismplayer/2.8.1/aliplayer-min.js"></script>
<script type="text/javascript" src="${ctxPath!}/scripts/front/header.js"></script>
<script type="text/javascript" src="${ctxPath!}/scripts/front/play.js"></script>
</body>
</html>