
.left-block {
    margin-top: 20px;
}

.right-block {
    margin-top: 20px;
}
.video-box{
    margin-top: 20px;
    height: 700px;
}
.comment-box{
    /*margin-top: 30px;*/
    background-color: #4d4d4d;
    height: 500px;
}

.similar-video {
    margin-top: 30px;
    height: 600px;
}

.week-hot-top{
    margin-top: 80px;
    height: 600px;
}

.layui-table-cell {
    height: auto !important;
    white-space: normal;
}

table .laytable-cell-1-0-1 {
    width: 60px;
    padding-right: 0px;
    padding-left: 0px;
}
table .laytable-cell-2-0-1{
    width: 60px;
    padding-right: 0px;
    padding-left: 0px;
}

table .laytable-cell-1-0-2 {
    padding-right: 0px;
    padding-left: 0px;
}
table .laytable-cell-2-0-2 {
    padding-right: 0px;
    padding-left: 0px;
}