<link href="${ctxPath!}/images/mintleaf.png" rel="shortcut icon"/>
<link href="${ctxPath!}/plugins/pace/themes/pink/pace-theme-flash.css" rel="stylesheet">
<link href="${ctxPath!}/plugins/layui/css/layui.css" media="all" rel="stylesheet" type="text/css"/>
<link href="${ctxPath!}/plugins/fontawesome/css/font-awesome.css" rel="stylesheet">
<link href="${ctxPath!}/plugins/contextMenu/jquery.contextMenu.min.css" rel="stylesheet">
<link href="${ctxPath!}/css/fs.css?v=1.8.2" media="all" rel="stylesheet" type="text/css"/>
<script src="${ctxPath!}/plugins/pace/pace.min.js"></script>
<script src="${ctxPath!}/plugins/jquery/jquery.min.js" type="text/javascript"></script>
<script src="${ctxPath!}/plugins/contextMenu/jquery.contextMenu.min.js"></script>
<script src="${ctxPath!}/plugins/layui/layui.js" type="text/javascript"></script>
<script src="${ctxPath!}/plugins/frame/js/fsDict.js?v=1.8.2" type="text/javascript"></script>
<script src="${ctxPath!}/plugins/frame/js/fs.js?v=1.8.2" type="text/javascript"></script>
<script src="${ctxPath!}/plugins/frame/js/main.js?v=1.8.2" type="text/javascript"></script>