<link rel="shortcut icon" href="${ctxPath!}/images/mintleaf.png" />
<link href="${ctxPath!}/plugins/pace/themes/pink/pace-theme-flash.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="${ctxPath!}/plugins/layui/css/layui.css" media="all"/>
<link href="${ctxPath!}/plugins/fontawesome/css/font-awesome.css" rel="stylesheet">
<link href="${ctxPath!}/plugins/contextMenu/jquery.contextMenu.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="${ctxPath!}/css/fs.css?v=1.8.2" media="all"/>
<script src="${ctxPath!}/plugins/pace/pace.min.js"></script>
<script type="text/javascript" src="${ctxPath!}/plugins/jquery/jquery.min.js"></script>
<script src="${ctxPath!}/plugins/contextMenu/jquery.contextMenu.min.js"></script>
<script type="text/javascript" src="${ctxPath!}/plugins/layui/layui.js"></script>
<script type="text/javascript" src="${ctxPath!}/plugins/frame/js/fsDict.js?v=1.8.2"></script>
<script type="text/javascript" src="${ctxPath!}/plugins/frame/js/fs.js?v=1.8.2"></script>
<script type="text/javascript" src="${ctxPath!}/plugins/frame/js/main.js?v=1.8.2"></script>